XTerm*faceName: Fira Code Nerd Font Mono
XTerm*faceSize: 14
XTerm.vt100.backarrowKey: false
XTerm.ttyModes: erase ^?
XTerm*metaSendsEscape: true
xterm*termName: xterm-256color
xterm*scaleHeight: 1.1
xterm*geometry: 52x12
xterm*internalBorder: 30
xterm*borderWidth: 0
xterm*utf8: true
xterm*scrollBar: false
xterm*cursorBlink: false
xterm*selectToClipboard: true
xterm*trimSelection: true
xterm*renderFont: true
xterm*wideChars: true
xterm*visualBell: false



XTerm*vt100.translations: #override \
    Shift Ctrl <Key> C: copy-selection(CLIPBOARD) 
    Shift Ctrl <Key> V: insert-selection(CLIPBOARD)

! ! Colors
! *background: #1C1C1C
! *foreground: blanchedalmond
! !black
! *color0:     #AF875F
! *color8:     #AF875F
! !red
! *color1:     #E84F4F
! *color9:     #D23D3D
! !green
! *color2:     #B8D68C
! *color10:    #A0CF5D
! !yellow
! *color3:     #E1AA5D
! *color11:    #F39D21
! !blue
! *color4:     #7DC1CF
! *color12:    #4E9FB1
! !magenta
! *color5:     #9B64FB
! *color13:    #8542FF
! !cyan
! *color6:     #6D878D
! *color14:    #42717B
! !white
! *color7:     #6D6D6D
! *color15:    #EFF0F1


*foreground: #b2bebf
*background: #1e282c

*color0: #1e282c
*color8: #566166

*color1: #b56666
*color9: #b56666

*color2: #779687
*color10: #779687

*color3: #b98675
*color11: #b98675

*color4: #5e828f
*color12: #5e828f

*color5: #b48291
*color13: #b48291

*color6: #7ab1b3
*color14: #7ab1b3

*color7: #b2bebf
*color15: #b2bebf